.content {
    text-align: center;
}

.containter {
    display: inline-block;
    border-width: 3rem;
    border-color: black;
}

table {
    margin-left:auto;
    margin-right:auto;
    /* padding: 1rem; */
}

th, td {    
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2
}
  
th {
    background-color: #04AA6D;
    color: white;
}
